<?xml version="1.0" encoding="utf-8" ?>
"delay": 3000,
"startDelay": 2,
"startheight": 500,
"startwidth": 960,
"fullScreenAlignForce": "off",
"autoHeight": "off",
"hideTimerBar": "off",
"hideThumbs": 200,
"hideNavDelayOnMobile": 1500,
"thumbWidth": 100,
"thumbHeight": 50,
"thumbAmount": 3,
"navigationType": "bullet",
"navigationArrows": "solo",
"navigationInGrid": "off",
"hideThumbsOnMobile": "off",
"hideBulletsOnMobile": "off",
"hideArrowsOnMobile": "off",
"hideThumbsUnderResoluition": 0,
"navigationStyle": "preview1",
"navigationHAlign": "center",
"navigationVAlign": "bottom",
"navigationHOffset": 0,
"navigationVOffset": 20,
"soloArrowLeftHalign": "left",
"soloArrowLeftValign": "center",
"soloArrowLeftHOffset": 20,
"soloArrowLeftVOffset": 0,
"soloArrowRightHalign": "right",
"soloArrowRightValign": "center",
"soloArrowRightHOffset": 20,
"soloArrowRightVOffset": 0,
"keyboardNavigation": "off",
"touchenabled": "on",
"onHoverStop": "on",
"startWithSlide": 0,
"stopAtSlide": -1,
"stopAfterLoops": -1,
"hideCaptionAtLimit": 0,
"hideAllCaptionAtLimit": 0,
"hideSliderAtLimit": 0,
"shadow": 0,
"fullWidth": "off",
"fullScreen": "off",
"minFullScreenHeight": 0,
"fullScreenOffsetContainer": "",
"fullScreenOffset": 0,
"dottedOverlay": "none",
"DisplayRandom": "off",
"forceFullWidth": "off",
"spinner": "spinner0",
"swipe_treshold": 75,
"swipe_min_touches": 1,
"drag_block_vertical": true,
"parallax": "mouse",
"parallaxLevels": "[10,7,4,3,2,5,4,3,2,1]",
"parallaxBgFreeze": "off",
"parallaxOpacity": "on",
"parallaxDisableOnMobile": "off",
"panZoomDisableOnMobile": "off",
"simplifyAll": "on",
"minHeight": 0,
"videoJsPath": "assets/sliderplugin/examples&amp;source/rs-plugin/videojs/"
<Settings>
	<Setting>
		<Name><![CDATA[delay]]></Name>
		<Value><![CDATA[3000]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[startDelay]]></Name>
		<Value><![CDATA[2]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[startheight]]></Name>
		<Value><![CDATA[500]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[startwidth]]></Name>
		<Value><![CDATA[960]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[fullScreenAlignForce]]></Name>
		<Value><![CDATA[off]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[autoHeight]]></Name>
		<Value><![CDATA[off]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[hideTimerBar]]></Name>
		<Value><![CDATA[off]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[hideThumbs]]></Name>
		<Value><![CDATA[200]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[hideNavDelayOnMobile]]></Name>
		<Value><![CDATA[1500]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[thumbWidth]]></Name>
		<Value><![CDATA[100]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[thumbHeight]]></Name>
		<Value><![CDATA[50]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[thumbAmount]]></Name>
		<Value><![CDATA[3]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[navigationType]]></Name>
		<Value><![CDATA[bullet]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[]]></Name>
		<Value><![CDATA[]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[]]></Name>
		<Value><![CDATA[]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[]]></Name>
		<Value><![CDATA[]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[]]></Name>
		<Value><![CDATA[]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[]]></Name>
		<Value><![CDATA[]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[]]></Name>
		<Value><![CDATA[]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[]]></Name>
		<Value><![CDATA[]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[]]></Name>
		<Value><![CDATA[]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[]]></Name>
		<Value><![CDATA[]]></Value>
	</Setting>
	<Setting>
		<Name><![CDATA[]]></Name>
		<Value><![CDATA[]]></Value>
	</Setting>
</Settings>
